<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wittmann.notebook"
    android:versionCode="2"
    android:versionName="0.2" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="NotebookApplication">
        
        <activity 
            android:name="com.wittmann.notebook.AddEntryActivity" 
            android:label="@string/addEntryTitle">
            
        </activity>
        <activity 
            android:name="com.wittmann.notebook.ShowEntriesActivity"
            android:label="@string/showEntriesTitle">
            <intent-filter>     
			  	<action android:name="android.intent.action.MAIN" />
			  	<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter>
        </activity>
        
        <receiver android:name="BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        	
    </application>
    

</manifest>
